.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 28px;
  margin: 0;

  background-color: rgba(#fff, 0);

  border: none;

  cursor: pointer;

  &:hover {
    background-color: #ececec;

    transition: background-color 0.3s ease-in-out;
  }
}